<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-menu></app-menu>
  <router-outlet></router-outlet>






  <!--<h1> {{nombre | titlecase}} </h1>
  <h1> {{ valor | number }}</h1>

  <button
    class="p-button-success"
    pButton
    icon="pi pi-prime"
    iconPos="right"
    type="button"
    label="Cambiar nombre"
    (click)="mostrarNombre()">
  </button>
  <br>
  <br>
  <p-card
    [header]="nombre | titlecase"
    subheader="Esto es un sub-header">

      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deserunt, quod in error iure aspernatur est sit iste a consequuntur eum architecto optio at incidunt libero consectetur tenetur obcaecati exercitationem?

    <ng-template pTemplate="footer">
      Esto es el pie
    </ng-template>

  </p-card>-->
</body>
</html>


